<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-11">
          <div class="row" style="margin-top:20px">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <span class="text-blue">MONTO: $</span>
            </div>
            <div class="col-sm-4">
              <span class="text-blue">TIEMPO: </span>
            </div>
          </div>
          <div class="row" style="margin-top: 100px;">
            <div class="col-sm-3"></div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="compare-blue">CETES 28</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="compare-gray">CETES 91</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="compare-blue">CETES 182</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="compare-gray">CETES 364</span>
            </div>
          </div>
          <div class="row" style="margin-top: 40px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Inversión:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
          </div>
          <div class="line"></div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Compraste en cetes:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Rendimiento bruto en cetes:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
          </div>
          <div class="line"></div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Compraste en Bonddia:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Rendimiento bruto en Bonddia:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
          </div>
          <div class="line"></div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Total Invertido:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Total Rendimientos:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
          </div>
          <div class="line"></div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Tu remanente:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">ISR retenido:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$1,000</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
