<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body>
    <div class="container-fluid" id="div-comp">
      <div class="row">
        <div class="col-sm-11">
          <div class="row" style="margin-top:20px">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <span class="text-blue">MONTO: $</span>
            </div>
            <div class="col-sm-4">
              <span class="text-blue">TIEMPO: </span>
            </div>
          </div>
          <div class="row" style="margin-top: 100px;">
            <div class="col-sm-3"></div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="compare-blue">CETES 28</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="compare-gray">CETES 91</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="compare-blue">CETES 182</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="compare-gray">CETES 364</span>
            </div>
          </div>
          <div class="row" style="margin-top: 40px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Inversión:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ inversion28 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ inversion91 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ inversion182 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ inversion364 }}</span>
            </div>
          </div>
          <div class="line"></div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Compraste en cetes:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ compr_cetes28 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ compr_cetes91 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ compr_cetes182 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ compr_cetes364 }}</span>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Rendimiento bruto en cetes:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ rend_brutos28 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ rend_brutos91 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ rend_brutos182 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ rend_brutos364 }}</span>
            </div>
          </div>
          <div class="line"></div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Compraste en Bonddia:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ compro_bonddia28 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ compro_bonddia91 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ compro_bonddia182 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ compro_bonddia364 }}</span>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Rendimiento bruto en Bonddia:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ rend_brutos_bond28 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ rend_brutos_bond91 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ rend_brutos_bond182 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ rend_brutos_bond364 }}</span>
            </div>
          </div>
          <div class="line"></div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Total Invertido:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ total_invertido28 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ total_invertido91 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ total_invertido182 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ total_invertido364 }}</span>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Total Rendimientos:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ total_rendimiento28 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ total_rendimiento91 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ total_rendimiento182 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ total_rendimiento364 }}</span>
            </div>
          </div>
          <div class="line"></div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">Tu remanente:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ remanente28 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ remanente91 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ remanente182 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ remanente364 }}</span>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-sm-3" style="text-align: end;">
              <span class="text">ISR retenido:</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ isr28 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ isr91 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ isr182 }}</span>
            </div>
            <div class="col-sm-2" style="text-align: center;">
              <span class="text">$ {{ isr364 }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/comp_cetes.js"></script>
  </body>
</html>
