<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cetes</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/input-style.css" />
</head>
<body style="font-family: 'fontCetes'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3" style="padding-top: 20px; padding-left: 50px">
        <h3 class="titulos-h3">Cetes</h3>

        <form id="form-cetes">
          <div class="form-group">
            <div class="group">
              <input th:required="required" id="monto" type="text" class="input-monto"/>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label class="label-monto">Monto</label>
            </div>
            <br/><span id="errorMonto" class="error" style="display: none;"></span>
          </div>
          <div class="form-group">
            <label for="plazo" class="text">Plazo:</label>
            <select name="plazo" id="plazo" class="select-plazo">
              <option value="28">28</option>
              <option value="91">91</option>
              <option value="182">182</option>
              <option value="360">360</option>
            </select>
          </div>
          <div class="form-group" style="text-align: center;">
            <input type="button" class="boton-default btn" style="font-weight: bold;" value="Calcular" v-on:click="calcular"/>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-1">
                <input type="checkbox" id="invertir" v-on:click="checkInvertir" v-model="checked"/>
              </div>
              <div class="col-sm-10">
                <span class="text-blue">¿Quieres que se re-invertan aútomaticamente el capital y los rendimientos en cetes 28 días?</span>
              </div>
            </div>
          </div>
          <div class="form-group" id="div-reinvertir" style="display:none;">
            <div id="slidecontainer">
              <div class="row">
                <div class="col-sm-2"><span class="text">Tiempo</span></div>
                <div class="col-sm-9"><input type="range" min="1" max="12" value="1" id="myRange" /></div>
              </div>
            </div>
            <p class="text"><span id="dias-inversion" class="text-bold"></span> meses</p>
          </div>
          <div class="form-group">
            <p class="text-blue" style="margin-top: 80px;">
              Tiempo de inversión en días: 365
            </p>
          </div>
          <div class="form-group">
            <p class="text-blue">
              ¿Prefieres comparar los plazos de Cetes?
            </p>
          </div>

          <div class="form-group" style="text-align: center;">
            <input style="font-weight: bold;" type="button" class="btn btn-primary" value="Comparar" v-on:click="comparar" />
          </div>
        </form>
      </div>
      <div class="col-sm-9" id="content" style="padding-top: 20px;">
      </div>
    </div>
  </div>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/cetes.js"></script>
</body>
</html>
