.titulos-h3{
  color: #337AB6;
  font-size: 15px;
  margin-bottom: 70px;
  font-weight: bold;
}

.text{
  color: #929292;
  font-size: 12px;
}

.text-bold{
  color: #929292;
  font-size: 12px;
  font-weight: bold;
}

.text-blue{
  color: #337AB6;
  font-size: 12px;
}

.input_text{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.input_text_error{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid red;
}

.input_text_calc{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #337AB6;
  color: #929292;
  font-size: 12px;
  width: 100%;
}

.div-calc{
  padding-right: 6px;
  text-align: right;
}

.line-blue{
  margin-top: -4px;
  color: #337AB6;
  text-align: right;
  margin-top: -15px;
}

.line{
  width: 100%;
  height: 10px;
  border-bottom: 1px solid #337AB6;
  position: absolute;
}

.compare-blue{
  padding: 10px;
  background-color: #337AB6;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
}


.compare-gray{
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
}


.error{
  color: red;
  font-size: 9px;
}
